.ManualView-button {
  margin-bottom: 10px;
}

.ManualView-default-button {
  background-color: var(--primary);
  color: white; /* Set text color to white for better visibility */
  padding: 5px 10px; /* Add padding for better button appearance */
  margin: 0 5px; /* Add margin to space out buttons */
  border: none;
  cursor: pointer;
}
