.RobotRow-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.RobotRow-item {
  flex: 1;
  display: flex;
  align-items: center; /* Align children vertically center */
}

.RobotRow-actions {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: flex-start; /* Adjust this property */
  align-items: center;
}

.RobotRow-button {
  background-color: var(--primary);
  color: white; /* Set text color to white for better visibility */
  padding: 5px 10px; /* Add padding for better button appearance */
  margin: 0 5px; /* Add margin to space out buttons */
  border: none;
  cursor: pointer;
}

.RobotRow-charging {
  width: 5%;
  padding: 3px;
}
